@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 100vw;
}
.grid-item1{
    background-image: url('/static/Texture/skog2.png');
    background-position: center;
    background-size: 100% 100%;
    transition: background-size 0.3s ease-in;

}
.grid-item1:hover{
    background-size: 105% 105%;
    background-position: center;
}

.grid-item2{
    background-image: url('/static/Texture/skog2.png');
    background-position: center;
    background-size: 100% 100%;
    transition: background-size 0.3s ease-in;

}
.grid-item2:hover{
    background-size: 105% 105%;
    background-position: center;
}
.grid-item3{
    background-image: url('/static/Texture/berg.png');
    background-position: center;
    background-size: 100% 100%;
    transition: background-size 0.3s ease-in;
}
.grid-item3:hover{
    background-size: 105% 105%;
    background-position: center;
}


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #292929
}
body{
    overflow-x: hidden;
}
.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

/* Nav bar */
.logo{
    position: fixed;
    z-index: 1000;
    background-color: black;
    height: 100px;
    width: 100px;
}
.nav-bar{
 height: 100vh;
 width: 100px;
 background-color: #1E1E1E;
 position: fixed;
 z-index: 999;
}
.nav-bar ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.nav-bar ul li{
    margin-bottom: 35px;
}
ul{
    width: 100%
}
li{
    border-bottom: 1px solid rgb(59, 59, 59);
    text-decoration: none;
    padding-bottom: 5px;
}
a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    text-transform: uppercase;
}

.web-padding{
    margin-left: 10%;
    margin-right: 10%;
}
.container{
    height: 100vh;
    display: grid;
    position: relative;
}
.web-padding-content{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 100px; 
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 35px;
}
.container-flex{
    position: absolute;
    bottom: 10%;
    margin-left: 3rem;
}
.container-child{
    position: absolute;
    top: 20%;
    left: 0%;
    margin-left: 3rem;
}
  
  .grid-item {
    color: white;
    height: 900px;
    padding: 60px;
    font-size: 20px;
  }
  .grid-content{
      position: relative;
  }

.text-box1{
    width: 55%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}
P{
    font-size: 1.2rem;
    color: white;
}
.section{height: 100vh;}

.colums{
    display: flex;
}

/*-------------------------------work----------------------*/

.work-colum1{
    margin-left: 3rem;
    margin-right: 3rem;
}
work-colum-placment{
    top: 22%;
}
.my-work{
    float: left;
}
.my-work-right{
    width: 60%;
    background-color: blue;
}
.my-work-left{
    width: 40%;
    background-color: crimson;
}
.come-up{
    opacity: 0;
    transition: opacity 1150ms ease-in;
}

.come-up.appear{
    opacity: 1;
}

.slide-up{
    transform: translateY(50%);
    transition: transform 400ms ease-in;
}
.slide-up.appear{
    transform: translateY(0);
}
.slide-in-left{
    transform: translateX(50%);
    transition: transform 400ms ease-in;
}
.slide-in-left.appear{
    transform: translateX(0);
}
.slide-in-right{
    transform: translateX(-50%);
    transition: transform 400ms ease-in;
}
.slide-in-right.appear{
    transform: translateX(0);
}
